<div class="container">
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col">
                <h1 class="section-title">Team Details</h1>
            </div>
        </div>
    </div>
    <div class="container p-5 border" id="admissionForm">
        <form>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Name:</h4>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label"></label>
                        <input type="text" id="name" name="name" placeholder="Enter Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Experience</h4>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="form-group">
                        <label for="Experience" class="form-label"></label>
                        <input type="text" id="class" name="class" placeholder="Enter Your Class"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Student DOB:</h4>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="form-group">
                        <label for="dob" class="form-label"></label>
                        <input type="text" id="dob" name="dob" placeholder="MM/DD/YYYY" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Father Name:</h4>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="fname" class="form-label"></label>
                        <input type="text" id="pfname" name="pfname" placeholder="First Name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="lname" class="form-label"></label>
                        <input type="text" id="plname" name="plname" placeholder="Last Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Current Address:</h4>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="form-group">
                        <label for="fname" class="form-label"></label>
                        <input type="text" id="streetaddress" name="streetaddress" placeholder="Street Address"
                            class="form-control">
                    </div>
                </div>
            </div>
           
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4 class="section-title mb-0">Email:</h4>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="form-group">
                        <label for="fname" class="form-label"></label>
                        <input type="text" id="email" name="email" placeholder="Enter Your Email"
                            class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" onclick="saveFormData()">Submit</button>
        </form>
    </div>
</div>